.jumbotron {
	       background-color: #F2F542;
	       color: black;
	       margin-top: 50px;
}

.cabecera{
		  padding: 10px 10px 10px 10px;
}

.card-instituto{
	       flex: 1 200px;
	       margin-top: 10px;
}
.contacto{
		  padding: 10px 10px 10px 10px;
		  background-color: #B6E8EF;
}	
.imagen{
		padding: 5px 5px 5px 5px;
}
.margenes{
			padding: 5px 0px 5px 100px;
}
.btn-reserva {
	         width: 100%;
	         border-radius: 0px;

}
.tab-content{
	padding-top: 10px;
}
.footer{
	    padding: 10px 10px 0px 10px;
	    background-color: #DAE8EF;
	    color: black;
	    margin-bottom: 0px;
	    margin-top: 10px;
}
.footer-address-icon{
	padding-right: 10px;
}