.jumbotron {
  background-color: #FFFFFF;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
}
.cabecera {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
.card-instituto {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.contacto {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  background-color: #B6E8EF;
}
.imagen {
  padding: 5px 5px 5px 5px;
}
.margenes {
  padding-top: 5px;
  padding-right: 0px;
  padding-bottom: 5px;
  padding-left: 100px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.tab-content {
  padding-top: 10px;
}
.footer {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  background-color: #DAE8EF;
  color: black;
  margin-top: 10px;
  margin-bottom: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
