@yellow: #FFFFFF;
@fondo-contacto: #B6E8EF;
@fondo-footer: #DAE8EF; 

.margenes(@top: 0px, @bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom;
}

.espacio-padding(@top: 0px, @right: 0px, @bottom: 0px, @left:0px){
    padding-top:@top;
    padding-right:@right;
    padding-bottom:@bottom;
    padding-left:@left;
}


.jumbotron {
  background-color: @yellow;
  color: black;
  .margenes(50px,0px);  
   }

.cabecera {
  .espacio-padding(10px,10px,10px,10px);
   }

.card-instituto {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.contacto {
  .espacio-padding(10px,10px,10px,10px); 
  background-color: @fondo-contacto; }

.imagen {
  padding: 5px 5px 5px 5px; }

.margenes {
  padding-top: 5px;
  padding-right: 0px;
  padding-bottom: 5px;
  padding-left: 100px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.tab-content {
  padding-top: 10px; }

.footer {
  .espacio-padding(10px,10px,10px,10px);
  background-color: @fondo-footer;
  color: black;
  margin-top: 10px;
  margin-bottom: 0px; }

.footer-address-icon {
  padding-right: 10px; }
