$yellow: #FFFFFF;
$fondo-footer: #DAE8EF;
$contacto-fondo: #B6E8EF;
    

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin espacio-padding($top,$right,$bottom,$left){
    padding-top:$top;
    padding-right:$right;
    padding-bottom:$bottom;
    padding-left:$left;
}

.jumbotron {
	       background-color: $yellow;
	       color: black;
	       @include margenes(50px, 0px);
}

.cabecera{
		  @include espacio-padding(10px,10px,10px,10px);
}

.card-instituto{
	       flex: 1 200px;
	       @include margenes(10px, 0px);
}

.contacto{
		  @include espacio-padding(10px,10px,10px,10px); 
		  background-color: $contacto-fondo;
}	

.imagen{
		padding: 5px 5px 5px 5px;
}
.margenes{
			@include espacio-padding(5px,0px,5px,100px);
}

.btn-reserva {
	         width: 100%;
	         border-radius: 0px;

}

.tab-content{
	padding-top: 10px;
}

.footer{
	    padding: 10px 10px 0px 10px;
	    background-color: $fondo-footer;
	    color: black;
        @include margenes(10px, 0px);
}
.footer-address-icon{
	padding-right: 10px;
}

